    .container {
        max-width: 640px;
        margin: 50px auto;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        text-transform: uppercase;
    }